body {text-align: center;
    margin: 0;
    }

h1 {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 45px;
    color:#0d2c40;
    letter-spacing: 1px;
    margin: 0;
}

a {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    color:#f15b31;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    border-bottom: 2px solid transparent;

}

a:hover {
    border-bottom: 2px solid white;
    }

button {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    color:#f15b31;
    letter-spacing: 1px;
    background-color: #00A6B3;

    }

button:hover {
    border: 2px solid white;;

    }

h2{
    font-family: "Raleway";
    font-weight: 600;
    font-size: 20px;
    color:#0d2c40;
    letter-spacing: 1px;
}

p {
    font-family: "Droid Serif";
    font-size: 18px;
    line-height: 26px;
}

header { 
    background-color: #F15B31;
    color: #ffffff;
    padding: 30px 20px 30px 20px;
}

nav {
    background-color:#00A6B3;
    color: #ffffff;
    padding: 20px 0px 20px 0px;

}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px;
}

footer {
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;

}

.copyright{
    float: left;
    font-family: "Raleway";
}

.message{
    float: right;
    font-family: "Raleway";
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }

    .name {
        color:#F15B31;
        font-weight: 700;
    }


